* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(logo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    display: block;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 10px;
    height: 200px;
}

.header {
    display:block;
    border: 3px solid white;
    color: yellow;
    padding: 3px;
    margin: 10px;
}

.footer {
    /* background-color: white; */
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    height: 100px;
}